<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Primary title
    </h1>
    <iframe id="ytplayer" type="text/html" width="640" height="360" src="http://www.youtube.com/embed/0EJi93AibMM"
      frameborder="0" />
  </div>
</div>